

.time_picker_modal_container {
  .picker_container {
    margin: auto;
    margin-bottom: 30px;
  }
}

.services-options {
  .input_wrapper {
    display: flex;
    align-items: center;
  }
  label {
    margin-right: 5px;
  }
}