.time_picker_modal_container .picker_container {
  margin: auto;
  margin-bottom: 30px; }

.create_schedule .services-options .input_wrapper {
  display: flex;
  align-items: center; }

.create_schedule .services-options label {
  margin-right: 5px; }

.create_schedule .input_wrapper span {
  font-size: 25px;
  color: #333; }
