button {
  background: #1EB1E8;
  padding: 10px;
  border: 0;
  cursor: pointer;
  color: #fff;
  border-radius: 4px; }
  button:hover {
    background: #0f6e91; }

.App {
  text-align: center; }

.App-logo {
  height: 30px; }

.App-header {
  background-color: #222;
  height: 60px;
  padding: 1em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
