* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

button {
  background: #1EB1E8;
  padding: 10px;
  border: 0;
  cursor: pointer;
  color: #fff;
  border-radius: 4px; }
  button:hover {
    background: #0f6e91; }
  button:disabled, button[disabled] {
    background: #7bd1f1; }

p {
  color: #333;
  line-height: 1.5; }

.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: #fff;
  margin: auto; }

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.741176); }

.App {
  text-align: center; }

.App-logo {
  height: 30px; }

.App-header {
  background-color: #222;
  height: 60px;
  padding: 1em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
