
$theme-colors: (
  'primary': #1EB1E8, 
  'danger': #FF7162,
  'theme': #D31EE8,
  'secundary': #21FF83,
  'primary-dark': #3D2EFF,
  'text': #333,
);

@function pick-color($key: 'primary') {
  @return map-get($theme-colors, $key);
}

* {
  margin: 0;
  padding: 0;
}

button {
  background: pick-color();
  padding: 10px;
  border: 0;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  &:hover {
    background: darken($color: pick-color(), $amount: 20%)
  }
  &:disabled, &[disabled] {
    background: lighten($color: pick-color(), $amount: 20%)
  }
}

p {
  color: pick-color('text');
  line-height: 1.5;
}